{% extends 'generator/base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Password Generator</title>
</head>
<body>
<!-- As a link -->

<div class="container-fluid">
    <div class="p-3 mb-2 bg-info text-white">

<h1>PASSWORD GENERATOR</h1>


<form action="{% url 'password' %}">
    <div class="form-group">
    <label><b>Length</b></label>
    <select name="length" class="form-control">
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
    </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="uppercase">
      <label class="form-check-label">
        <b>Add UpperCase</b>
      </label>
        <br>
      <input class="form-check-input" type="checkbox" name="numbers">
      <label class="form-check-label">
        <b>Add Numbers</b>
      </label>
        <br>
      <input class="form-check-input" type="checkbox" name="special">
      <label class="form-check-label">
        <b>Add Special Characters</b>
      </label>
    </div>
    <button class="btn btn-success" type="submit">Generate Password</button>
</form>

    </div>
</div>
</body>
</html>
{% endblock %}