{% extends 'generator/base.html' %}
{% block content %}

<h5 class="alert alert-success">Your Generated Password: <strong>{{password}}</strong></h5>

<form method ="POST" action="{% url 'save_password' %}">

		{% csrf_token %}

	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Password" name = "password" value={{password}}>

	  </div>
	  <div class="form-group">

	    <input type="text" class="form-control"  placeholder="Password Description" name="description">
	  </div>
		<button type="submit" class="btn btn-secondary" >Save</button>

</form>

{% endblock %}